



.Anthology {
  text-align: center;
}

body {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    overflow-x: hidden;
    backface-visibility: hidden;
    background-image: linear-gradient(rgb(115, 179, 222) 0%, rgb(202, 220, 232) 100%);
}

.cover-001 {
    position: relative;
    height: 70vh;
    width: 45vh;
    margin-right: auto;

}

.cover-002 {
    position: relative;
    width: 45vh;
    height: 70vh;
    margin-right: auto;

}

.stuff {
    margin-top: -10px;
}

.nav-item-anthology {
  color: #254489;
  /* margin-left: 60px; */
}

.navtop {
  left: -23px;
}

.nav-item-top {
  margin-left: 80px;
  margin-right: 52px;
}

.nav-item-bottom {
  margin-right: 145px;
  margin-left: 50px;
  /* margin-left: 62px; */
}

.link-anthology {
  color: #254489;
}

.bottom-nav-bar {
  left: -24px;
  top: 40px;
}

.imprint {
  margin-left: 30px;
}

.year-2018 {
  margin-left: -2px;
  margin-right: 50px;
}



@media only screen and (max-width: 950px) and (min-width: 750px) {
    body {
      min-height: 100vh;
      height: 200vh;
    }
}

@media only screen and (max-width: 750px) {
  /* For smart phone screens */
  body {
    min-height: 100vh;
    height: 320vh;
  }
}

ul {
  list-style: none;
  text-align: left;
  /* list-style-position: inside; */
}
