.Anthology {
  text-align: center;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    backface-visibility: hidden;
    background-image: linear-gradient(rgb(115, 179, 222) 0%, rgb(202, 220, 232) 100%);
}

@media only screen and (max-width: 1499px) and (min-width: 750px) {
    body {
      min-height: 100vh;
      height: 200vh;
    }
}

@media only screen and (max-width: 750px) {
  /* For smart phone screens */
  body {
    min-height: 100vh;
    height: 300vh;
  }
}
