.Anthology {
  text-align: center;
}

body {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    overflow-x: hidden;
    backface-visibility: hidden;
    background-image: linear-gradient(rgb(115, 179, 222) 0%, rgb(202, 220, 232) 100%);
}

.cover-001 {
    position: relative;
    height: 70vh;
    width: 45vh;
    margin-right: auto;

}

.cover-002 {
    position: relative;
    width: 45vh;
    height: 70vh;
    margin-right: auto;

}

.stuff {
    margin-top: -10px;
}

.nav-item-anthology {
  color: #254489;
  margin-left: 60px;
}

.nav-item-bottom {
  margin-right: 102px;
  margin-left: 50px;
  /* margin-left: 62px; */
}

.link-anthology {
  color: #254489;
}

.bottom-nav-bar {
  left: -26px;
}

.imprint {
  margin-left: 30px;
}

.year-2018 {
  margin-left: -2px;
  margin-right: 50px;
}

/* .year-2018 {
  max-height: inherit;
} */

/* .bottom-nav {
  margin-top: 80rem;
  margin-left: -6em;
} */


@media only screen  (min-width: 951px) {
    body {
      min-height: 100vh;
      height: 100vh;
    }
}

@media only screen and (max-width: 950px) and (min-width: 750px) {
    body {
      min-height: 100vh;
      height: 200vh;
    }
}

@media only screen and (max-width: 750px) {
  /* For smart phone screens */
  body {
    min-height: 100vh;
    height: 320vh;
  }
}

ul {
  list-style: none;
  text-align: left;
  /* list-style-position: inside; */
}
