.Anthology {
  text-align: center;
}

body {
    width: 100%;
    min-height: 100vh;
    height: 120vh;
    overflow-x: hidden;
    backface-visibility: hidden;
    background-image: linear-gradient(rgb(115, 179, 222) 0%, rgb(202, 220, 232) 100%);
}

.cover-001 {
    position: relative;
    height: 70vh;
    width: 45vh;
    margin-right: auto;

}

.cover-002 {
    position: relative;
    width: 45vh;
    height: 70vh;
    margin-right: auto;

}

/* .bottom-nav {
  margin-top: 80rem;
  margin-left: -6em;
} */


@media only screen  (min-width: 951px) {
    body {
      min-height: 100vh;
      height: 100vh;
    }
}

@media only screen and (max-width: 950px) and (min-width: 750px) {
    body {
      min-height: 100vh;
      height: 200vh;
    }
}

@media only screen and (max-width: 750px) {
  /* For smart phone screens */
  body {
    min-height: 100vh;
    height: 320vh;
  }
}

ul {
  list-style: none;
  text-align: left;
  /* list-style-position: inside; */
}
