#cover-001a {
    position: relative;
    /* top: 7.5rem; */
    /* left: -16em; */
    /* width: 30em; */
    height: auto;
    margin-left: 4em;
    /* max-width: 100%; */
    /* z-index: 150; */
    /* right: 21em; */
    /* margin-right: auto; */
    /* left: -10em; */

    /* float: left; */
}

.active {
  font-weight: bold
}

.author {
  font-family: Arial,cursive;
  font-size: 1em;
  color: #254489;
  margin-top: -40rem;
  /* top: -0rem; */
  /* float: right; */

}

.info {
  font-family: HelveticaNeue;
  font-size: 1.5em;
  color: #254489;
  font-weight: bold;
  margin-top: -10rem;
}

@media only screen and (max-width: 750px) {
  /* For smart phone screens */
  #cover-001a {
    /* left: -2em; */
    /* margin-top: 0rem; */
    width: 0%;
    height: 0%;
  }
.author-list {
  margin-top: 37rem;
}

.author {
  margin-left: 1em;
}

.second-author-col {
  margin-left: 12em;
}

.info {
  margin-top: -8rem;
  margin-left: -.5em;
  margin-bottom: 2rem;
  font-size: 1.3em;
}

.clickName {
  margin-top: -1rem;
}
}
