#cover-001 {
    position: relative;
    /* top: 7.5rem; */
    /* left: -16em; */
    width: 30em;
    height: auto;
    max-width: 100%;
    /* z-index: 150; */
    /* right: 21em; */
    margin-right: auto;
    left: -30em;

    /* float: left; */
}

.active {
  font-weight: bold
}

.author {
  font-family: Arial,cursive;
  font-size: 30px;
  color: #254489;
  top: -30rem;
  /* float: right; */

}
