/* #cover-001a {
    position: relative;
    top: -16px;
    height: auto;
    margin-left: 60px;

} */

.active {
  font-weight: bold
}

.author {
  font-family: Arial,cursive;
  font-size: 13px;
  color: #254489;
  margin-top: -528px;
  margin-left: 470px;

}

.second-author-col {
  margin-left: 750px;
  }



/* .second-author-col {
  left: 10em;
} */

/* .author-list {
  margin-top: 3rem;
  left: -2em;
}

.second-author-col {
  margin-left: 80em;
} */

.info {
  font-family: HelveticaNeue;
  /* font-size: 1.5em; */
  color: #254489;
  font-weight: bold;
  margin-top: -80px;
  /* margin-left: -.1em; */
  left: 105px;
  margin-bottom: 32px;
  font-size: 20px;

}


@media only screen and (min-width: 1500px) {
    /* For extra large screens, i.e., laptops and desktops: */
    #cover-001a {
        margin-left: 120px;
    }

    .author {
      margin-left: 550px;
    }

    .second-author-col {
      margin-left: 980px;
    }
    .info {
      margin-left: 125px;
    }

 }

 /* @media only screen and (max-width: 950px) and (min-width: 751px) {
    /* For medium screens--i.e., smaller sized tablets */

    /* #cover-001a {
      left: -1em;
      /* margin-top: 0rem; */
      /* width: 30%;
      height: 30%;
    }

    .author-list {
      margin-top: 18rem;
      left: -2em;
    }

    .second-author-col {
      margin-left: 32em;
    } */

  /* } */

@media only screen and (min-width: 751px) and (max-width: 1439px) {
    /* For medium large screens--some larger tablets and smaller laptops */


    .author-list {
      top: 32px;
      /* left: -2em; */
    }

    .second-author-col {
      margin-left: 800px;
    }

   .info {

       margin-left: 125px;
     }


}

@media only screen and (max-width: 750px) {
  /* For smart phone screens */
  #cover-001a {
    /* left: -2em; */
    /* margin-top: 0rem; */
    width: 0%;
    height: 0%;
  }
.author-list {
  margin-top: 37rem;
}

.author {
  margin-left: 1em;
}

.second-author-col {
  margin-left: 12em;
}

/* .info {
  margin-top: -8rem;
  margin-left: -.5em;
  margin-bottom: 2rem;
  font-size: 1.3em;
} */

.clickName {
  margin-top: -1rem;
}
}
