#cover-001a {
    position: relative;
    top: -1rem;
    /* left: -16em; */
    /* width: 30em; */
    height: auto;
    margin-left: 4em;
    /* max-width: 100%; */
    /* z-index: 150; */
    /* right: 21em; */
    /* margin-right: auto; */
    /* left: -10em; */

    /* float: left; */
}

.active {
  font-weight: bold
}

.author {
  font-family: Arial,cursive;
  font-size: .9em;
  color: #254489;
  margin-top: -33rem;
  /* top: -0rem; */
  /* float: right; */

}

/* .second-author-col {
  left: 10em;
} */

/* .author-list {
  margin-top: 3rem;
  left: -2em;
}

.second-author-col {
  margin-left: 80em;
} */

.info {
  font-family: HelveticaNeue;
  /* font-size: 1.5em; */
  color: #254489;
  font-weight: bold;
  margin-top: -4rem;
  /* margin-left: -.1em; */
  left: 7em;
  margin-bottom: 2rem;
  font-size: 1.3em;

}


@media only screen and (min-width: 1500px) {
    /* For extra large screens, i.e., laptops and desktops: */
    #cover-001a {
        margin-left: 8em;
    }

 }

 @media only screen and (max-width: 950px) and (min-width: 751px) {
    /* For medium screens--i.e., smaller sized tablets */

    #cover-001a {
      left: -1em;
      /* margin-top: 0rem; */
      width: 30%;
      height: 30%;
    }

    .author-list {
      margin-top: 18rem;
      left: -2em;
    }

    .second-author-col {
      margin-left: 32em;
    }

}

@media only screen and (min-width: 951px) and (max-width: 1499px) {
    /* For medium large screens--some larger tablets and smaller laptops */

    #cover-001a {
      left: -1em;
      /* margin-top: 0rem; */
      width: 30%;
      height: 30%;
    }

    .author-list {
      top: 2rem;
      /* left: -2em; */
    }

    .second-author-col {
      margin-left: 60em;
    }

}

@media only screen and (max-width: 750px) {
  /* For smart phone screens */
  #cover-001a {
    /* left: -2em; */
    /* margin-top: 0rem; */
    width: 0%;
    height: 0%;
  }
.author-list {
  margin-top: 37rem;
}

.author {
  margin-left: 1em;
}

.second-author-col {
  margin-left: 12em;
}

/* .info {
  margin-top: -8rem;
  margin-left: -.5em;
  margin-bottom: 2rem;
  font-size: 1.3em;
} */

.clickName {
  margin-top: -1rem;
}
}
