.buy {
  text-align: left;
  margin-top: -30rem;
  font-size: 1.5em;
  font-family: Helvetica;
}

.buy-nav {
  margin-left: -3em;
}

/* .bottom-navigation-buy {
  margin-top: 17rem;
} */

.bottom-navigation-buy {
  top: 18rem;
}

.cover-001-buy {
  margin-top: -1rem;
}
