.buy {
  text-align: left;
  margin-top: -35rem;
  font-size: 1.5em;
  font-family: Helvetica;
}

.buy-nav {
  margin-left: -3em;
}

/* .bottom-navigation-buy {
  margin-top: 17rem;
} */

/* .buy-col-1 {
  align-content: center;
} */

.buy-col-2 {
   margin-top: -40rem;
   height: 29em;
   /* border-style: solid; */
}

.buy-col-1 {
  padding-left: 3em;
}

.heading1 {
  font-size: 3em;
  margin-left: 1.5em;
  margin-top: 1rem;
}

.bn-logo {
  margin-left: -.5em;
}

.bottom-nav-buy {
  margin-top: -2rem;
}

.cover-001-buy {
  margin-top: -1rem;
}

.Amazon-logo {
  margin-left: -2.5em;
  margin-top:  -3rem;
}

.book {
  margin-top: .5rem;
}

.Europe, .US {
  font-size: 1.5em;
  font-weight: 100;
  margin-left: 2em;
  /* font-family: Arial; */
}


h5 {
  text-align: left;
  margin-left: .1em;
}


/* .book {
   margin-top: 2rem;
} */
