.buy {
  text-align: left;
  margin-top: -35rem;
  font-size: 1.5em;
  font-family: Helvetica;
}

.buy-nav {
  margin-left: -3em;
}

/* .bottom-navigation-buy {
  margin-top: 17rem;
} */

/* .buy-col-1 {
  align-content: center;
} */

.buy-col-2 {
   margin-top: -38rem;
   /* border-style: solid; */
}

.heading1 {
  font-size: 3em;
}

.bn-logo {
  margin-left: -.5em;
}

.bottom-nav-buy {
  margin-top: 19rem;
}

.cover-001-buy {
  margin-top: -1rem;
}

.Amazon-logo {
  margin-left: -2.5em;
  margin-top:  -3rem;
}

.book {
  margin-top: .5rem;
}

h5 {
  text-align: left;
  margin-left: .1em;
}


/* .book {
   margin-top: 2rem;
} */
