.contact {
  text-align: left;
  margin-top: -30rem;
  font-size: 1.5em;
  font-family: Helvetica;
}

.contact-nav {
  margin-left: -3em;
}

/* .bottom-navigation-contact {
  margin-top: 17rem;
} */

.bottom-nav-contact {
  margin-top: 3rem;
}

.cover-001-contact {
  margin-top: -1rem;
}

.cover-002-contact {
  margin-top: -1rem;
  margin-left: -24.2em;
}
