.description {
  text-align: left;
  margin-top: -560px;
  font-size: 13px;
  font-family: Arial,cursive;
}

/* .descr {
  margin-top: 1px;
} */

/* .descrip {
   margin-left: 20px;
} */

.description {
  margin-top: -450px;
}

.top-nav {
  margin-left: -36px;
}

.bottom-nav {
  margin-top: -16px;
}

/* .cover-001 {
  margin-left: -11px;
} */
