.description {
  text-align: left;
  margin-top: -35rem;
  font-size: 1.3em;
  font-family: Arial,cursive;
}

.desc {
  margin-top: -2rem;
}

.top-nav {
  margin-left: -3em;
}

.bottom-nav {
  margin-top: -1rem;
}
