.description {
  text-align: left;
  margin-top: -560px;
  font-size: 14px;
  /* font-size: inherit; */
  font-family: Arial,cursive;
}

/* .descr {
  margin-top: 1px;
} */

/* .descrip {
   margin-left: 20px;
} */

.descript {
  margin-top: -550px;
}

.top-nav {
  margin-left: -36px;
}

.bottom-nav {
  margin-top: -16px;
}

/* .cover-001 {
  margin-left: -11px;
} */

@media only screen and (max-width: 1400px) {
  .descript {
    margin-top: -420px;
    font-size: 11px;
  }

}
