/* .description {
  text-align: left;
  margin-top: -560px;
  font-size: 14px;
  /* font-size: inherit; */
  /* font-family: Arial,cursive; */
/* } */


.descript {
  margin-top: -550px;
  font-size: 14px;
  font-family: Arial,cursive;
}


.top-nav {
  margin-left: -36px;
}

.bottom-nav-descr {
  top: -10px;
}


@media only screen and (max-width: 1400px) {
  .descript {
    margin-top: -420px;
    font-size: 11px;
  }

}
