.quotes {
  font-size: 14px;
  /* font-size: inherit; */
  font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
  text-align: left;
}

.famous_people {
  font-weight: 500;
  font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
}


.link-home {
  color: #254489;
}

@media only screen and (min-width: 1800px) {
  .quotes {
    font-size: 12px;
  }

}

@media only screen and (max-width: 1200px) {
  .quotes {
    font-size: 0px;
  }

}
