.quotes {
  font-size: 12px;
  font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
  text-align: left;
}

.famous_people {
  font-weight: 500;
  font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
}
