#patrick-rothfuss-wr {
    position: relative;
    width: 13em;
    z-index: 20;
    text-align: left;
    color: black;
    font-weight: 500;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 26px;
    float: right;
    display: inline-block;
    height: 1em;
}

#its-like-everyone-t {
    position: relative;
    width: 527em;
    z-index: 10;
    text-align: left;
    color: black;
    font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
    font-size: 26px;
    float: right;
    display: block;
    height: 4em;
}

#howard-gardner-psyc {
    position: relative;
    width: 16em;
    z-index: 10;
    text-align: left;
    color: black;
    font-weight: 500;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 26px;
    float: right;
    display: block;
    margin-top: 5rem;
    height: 1em;
}

#if-you-want-to-learn {
    position: relative;
    width: 21em;
    z-index: 20;
    text-align: left;
    color: black;
    font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
    font-size: 26px;
    margin-right: auto;
    margin-left: 4.5em;
    margin-top: -50rem;
    display: block;
    height: 4em;
    float: left;
}

#steve-jobs {
    position: relative;
    top: -1rem;
    width: 6em;
    z-index: 20;
    text-align: left;
    color: black;
    font-weight: 500;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 26px;
    float: left;
    display: inline-block;
    /* margin-right: 505em; */
    height: 1.5em;
}

/* #bitmap {
    position: relative;
    width: 529em;
    height: 137em;
    z-index: 10;
    float: right;
    display: block;
    margin-right: 131em;
} */


#cover-001 {
    position: relative;
    /* top: 7.5rem; */
    /* left: -16em; */
    width: 34rem;
    height: auto;
    max-width: 100%;
    z-index: 150;
    /* right: 21em; */
    margin-right: auto;
    margin-left: auto;
}

#cover-002 {
    position: relative;
    /* top: 7.5rem; */
    /* left: -16em; */
    width: 34rem;
    /* height: 52rem; */
    max-width: 100%;
    height: auto;
    z-index: 180;
    /* right: -1em; */
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (min-width: 1400px) {
    /* For large screen: */
    [id*="cover-"] {
        left: -16em;
    }
}



#michael-margolis-te {
    position: relative;
    width: 16em;
    z-index: 10;
    text-align: left;
    color: black;
    font-weight: 500;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 26px;
    margin-right: auto;
    margin-left: 6.5em;
    margin-top: -35rem;
    display: block;
    top: -1rem;
    left: -2em;
    height: 1.5em;
}

#group-4 {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 21em;
    z-index: 10;
    display: block;
    margin-top: 7.5rem;
    left: 22em;
}

section {
    width: 100%;
    left: 0em;
    position: relative;
    overflow: visible;
}

#most-powerful-section {
    /* z-index: 200; */
    position: relative;
    display: inline-block;
    z-index: 15;
    float: left;
    text-align: left;
    top: -52.2rem;
    /* padding-top: 1rem; */
    margin-left: 46em;
    font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
    font-size: 26px;
}

#generaton {
  position: relative;
  display: inline-block;
  float: left;
  text-align: left;
  margin-left: 15em;
  font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
  font-size: 26px;

}

#steve-jobs-section {
    z-index: 80;
    position: relative;
    display: inline-block;
    text-align: left;
    margin-left: 15em;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 26px;
    float: left;
}

#group-3-section {
    z-index: 40;
    position: relative;
    display: inline-block;
    text-align: left;
    padding-top: 2rem;
}

#stories-constitute-t {
    position: relative;
    width: auto;
    z-index: 20;
    text-align: left;
    color: black;
    font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
    font-size: 26px;
    margin-right: auto;
    margin-left: 300em;
    margin-top: -50rem;
    display: block;
    height: 4em;
    float: left;
}

#its-like-everyone-t-section {
    z-index: 60;
    position: relative;
    display: inline-block;
    text-align: center;
    padding-top: 5rem;
    margin-top: 0em;
}

#patrick-rothfuss-wr-section {
    z-index: 90;
    position: relative;
    display: inline-block;
    text-align: center;
    padding-top: .5rem;
}
