#patrick-rothfuss-wr {
    position: relative;
    text-align: left;
    color: black;
    font-weight: 500;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 1.2em;
    display: inline-block;
}


#its-like-everyone-t {
    position: relative;
    text-align: left;
    color: black;
    font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
    font-size: 1.2em;
    display: inline-block;
}

#howard-gardner-psyc {
    position: relative;
    text-align: left;
    color: black;
    font-weight: 500;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 1.2em;
    display: inline-block;
    marginleft: 10em;

}

#if-you-want-to-learn {
    position: relative;
    text-align: left;
    color: black;
    font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
    font-size: 1.2em;
    top: 1.5rem;
}

#steve-jobs {
    position: relative;
    top: -1rem;
    text-align: left;
    color: black;
    font-weight: 500;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 1em;
    display: inline-block;
}


#cover-001 {
    position: relative;
    height: auto;
    max-width: 100%;
    margin-right: auto;

}

#cover-002 {
    position: relative;
    max-width: 100%;
    height: auto;
    margin-right: auto;

}


#michael-margolis-te {
    position: relative;
    text-align: left;
    color: black;
    font-weight: 500;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 1.2em;
    left: -7.5em;
    display: inline-block;

}

#group-4 {
    position: relative;
    display: inline-block;
}

section {
    width: 100%;
}

#most-powerful-section {
    position: relative;
    display: inline-block;
    text-align: left;
    font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
    font-size: 1.2em;
}

#group-3-section {
    position: relative;
    display: inline-block;
    text-align: left;
}

#stories-constitute-t {
    position: relative;
    text-align: left;
    color: black;
    font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
    font-size: 1.2em;
    display: inline-block;
    top: 3rem;

}

#its-like-everyone-t-section {
    position: relative;
    display: inline-block;
    text-align: left;
}

@media only screen and (min-width: 1500px) {
    /* For extra large screens, i.e., laptops and desktops: */
    #cover-001 {
        margin-left: 4.5em;
    }

 }

 @media only screen and (max-width: 950px) and (min-width: 750px) {
    /* For medium screens--i.e., smaller sized tablets */
    #cover-002 {
      margin-left: -26em;
      margin-top: 60rem;
    }
    #michael-margolis-te {
      margin-left: 7.5em;
    }
    #group-3-section {
      margin-top: 22rem;
    }
    .col-12 {
      margin-right: 1em;
      width: 10em;
    }

  }

@media only screen and (min-width: 951px) and (max-width: 1499px) {
    /* For medium large screens--some larger tablets and smaller laptops */

  #michael-margolis-te {
    margin-left: -352em;
  }

  #cover-001 {
    left: -2em;
  }

  #cover-002 {
    left: -2em;
  }

  .col-12 {
    margin-top: 80rem;
    margin-left: -40em;
    height: auto;
    width: 500em;
  }
}
