#patrick-rothfuss-wr {
    position: relative;
    /* width: 13em; */
    /* with: auto; */
    /* z-index: 20; */
    text-align: left;
    color: black;
    font-weight: 500;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 1.2em;
    /* float: right; */
    display: inline-block;
    /* height: 1em; */
    /* height: auto; */
    /* margin-left: 45em; */
    /* top: 1rem; */
    /* padding-top: -300rem; */
}

#its-like-everyone-t {
    position: relative;
    /* width: 527em; */
    /* width: auto; */
    /* z-index: 10; */
    text-align: left;
    color: black;
    font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
    font-size: 1.2em;
    /* float: right; */
    display: inline-block;
    /* margin-top: 1.5rem; */
    /* height: 4em; */
    /* height: auto; */
    /* margin-left: 1em; */
    /* margin-top: -1.4rem; */
}

#howard-gardner-psyc {
    position: relative;
    /* width: 16em; */
    /* z-index: 10; */
    text-align: left;
    color: black;
    font-weight: 500;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 1.2em;
    /* float: right; */
    display: inline-block;
    /* top: 6rem; */
    marginleft: 10em;
    /* margin-top: -15rem;
    padding-top: -15rem; */
    /* top: -37rem; */
    /* padding-bottom: .4rem; */
    /* height: 1em; */
    /* height: auto; */
    /* margin-left: 45em; */
}

#if-you-want-to-learn {
    position: relative;
    /* width: 21em;
    z-index: 20; */
    text-align: left;
    color: black;
    font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
    font-size: 1.2em;
    top: 1.5rem;
    /* margin-right: auto; */
    /* margin-left: 5em; */
    /* top: -45rem; */
    /* display: inline-block; */
    /* height: 4em; */
    /* float: left; */
}

#steve-jobs {
    position: relative;
    top: -1rem;
    /* width: 6em;
    z-index: 20; */
    text-align: left;
    color: black;
    font-weight: 500;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 1em;
    /* float: left; */
    display: inline-block;
    /* margin-right: 505em; */
    /* height: 1.2em;  */
}


#cover-001 {
    position: relative;
    /* top: 7.5rem; */
    /* left: -16em; */
    /* width: 30em; */
    height: auto;
    max-width: 100%;
    /* z-index: 150; */
    /* right: 21em; */
    margin-right: auto;
    /* left: 60em; */
    /* margin-left: auto; */

}

#cover-002 {
    position: relative;
    /* top: 7.5rem; */
    /* left: -16em; */
    /* width: 30em; */
    /* height: 52rem; */
    max-width: 100%;
    height: auto;
    /* z-index: 180; */
    /* right: -1em; */
    margin-right: auto;
    /* margin-left: -30em; */

}

@media only screen and (min-width: 1400px) {
    /* For large screen: */
    #cover-001 {
        margin-left: 4.5em;
    }
    /* #cover-002 {
        margin-left: -30em;
    } */
 }

 @media only screen and (max-width: 950px) and (min-width: 750px) {
    /* For medium screens--i.e., smaller sized tablets */
    #cover-002 {
      visibility: hidden;
    }
    
  }

 /* @media only screen and (max-width: 1100px) { */
     /* For medium and small screens: */
     /* [id*="-section"] { */
         /* overflow: hidden;
     }
  } */


#michael-margolis-te {
    position: relative;
    /* width: 16em;
    z-index: 10; */
    text-align: left;
    color: black;
    font-weight: 500;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 1.2em;
    left: -7.5em;
    /* top: 4 rem; */
    /* left: -26em; */
    /* left: -600em;
    top: -1rem; */
    display: inline-block;
    /* left: -2em; */
    /* margin-right: auto;
    margin-left: 7em;
    margin-top: -44rem;
    top: -1rem;
    left: -2em;
    height: 1.5em; */
}

#group-4 {
    position: relative;
    /* margin-top: 7.5rem; */
    display: inline-block;
    /* margin-right: auto;
    margin-left: auto;
    width: 21em;
    z-index: 10;
    display: block; */
    /* margin-top: 7.5rem; */
    /* left: 22em; */ }

section {
    width: 100%;
    /* left: 0em; */
    /* position: relative; */
    /* overflow: visible; */
}

#most-powerful-section {
    /* z-index: 200; */
    position: relative;
    display: inline-block;
    /* z-index: 15; */
    /* float: left; */
    text-align: left;
    /* top: -46.2rem; */
    /* padding-top: 1rem; */
    /* margin-left: 45em; */
    font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
    font-size: 1.2em;
}

#generation {
  position: relative;
  display: inline-block;
  float: left;
  text-align: left;
  margin-left: 15em;
  font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
  font-size: 1.2em;

}


#group-3-section {
    /* z-index: 40; */
    position: relative;
    display: inline-block;
    text-align: left;
    /* padding-top: 2rem; */
}

#stories-constitute-t {
    position: relative;
    /* width: auto; */
    /* z-index: 20; */
    text-align: left;
    color: black;
    font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
    font-size: 1.2em;
    /* margin-right: auto; */
    /* margin-left: 45em; */
    /* top: -31rem; */
    display: inline-block;
    top: 3rem;

    /* float: left; */
}

#its-like-everyone-t-section {
    /* z-index: 60; */
    position: relative;
    display: inline-block;
    text-align: left;
    /* top: -50rem; */
    /* margin-left: 10em; */
    /* padding-top: 4rem; */
}
