#patrick-rothfuss-wr {
    position: relative;
    /* width: 13em; */
    /* with: auto; */
    /* z-index: 20; */
    text-align: left;
    color: black;
    font-weight: 500;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 1.2em;
    /* float: right; */
    display: inline-block;
    /* height: 1em; */
    /* height: auto; */
    /* margin-left: 45em; */
    /* top: 1rem; */
    /* padding-top: -300rem; */
}

#its-like-everyone-t {
    position: relative;
    /* width: 527em; */
    /* width: auto; */
    /* z-index: 10; */
    text-align: left;
    color: black;
    font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
    font-size: 1.2em;
    /* float: right; */
    display: inline-block;
    /* margin-top: 1.5rem; */
    /* height: 4em; */
    /* height: auto; */
    /* margin-left: 1em; */
    /* margin-top: -1.4rem; */
}

#howard-gardner-psyc {
    position: relative;
    /* width: 16em; */
    /* z-index: 10; */
    text-align: left;
    color: black;
    font-weight: 500;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 1.2em;
    /* float: right; */
    display: inline-block;
    /* top: 6rem; */
    marginleft: 10em;
    /* margin-top: -15rem;
    padding-top: -15rem; */
    /* top: -37rem; */
    /* padding-bottom: .4rem; */
    /* height: 1em; */
    /* height: auto; */
    /* margin-left: 45em; */
}

#if-you-want-to-learn {
    position: relative;
    /* width: 21em;
    z-index: 20; */
    text-align: left;
    color: black;
    font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
    font-size: 1.2em;
    top: 1.5rem;
    /* margin-right: auto; */
    /* margin-left: 5em; */
    /* top: -45rem; */
    /* display: inline-block; */
    /* height: 4em; */
    /* float: left; */
}

#steve-jobs {
    position: relative;
    top: -1rem;
    /* width: 6em;
    z-index: 20; */
    text-align: left;
    color: black;
    font-weight: 500;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 1em;
    /* float: left; */
    display: inline-block;
    /* margin-right: 505em; */
    /* height: 1.2em;  */
}


#cover-001 {
    position: relative;
    height: auto;
    max-width: 100%;
    margin-right: auto;

}

#cover-002 {
    position: relative;
    max-width: 100%;
    height: auto;
    margin-right: auto;

}


#michael-margolis-te {
    position: relative;
    text-align: left;
    color: black;
    font-weight: 500;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 1.2em;
    left: -7.5em;
    display: inline-block;

}

#group-4 {
    position: relative;
    display: inline-block;
}

section {
    width: 100%;
}

#most-powerful-section {
    position: relative;
    display: inline-block;
    text-align: left;
    font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
    font-size: 1.2em;
}

#group-3-section {
    position: relative;
    display: inline-block;
    text-align: left;
}

#stories-constitute-t {
    position: relative;
    text-align: left;
    color: black;
    font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
    font-size: 1.2em;
    display: inline-block;
    top: 3rem;

}

#its-like-everyone-t-section {
    position: relative;
    display: inline-block;
    text-align: left;
}

@media only screen and (min-width: 1400px) {
    /* For large screen: */
    #cover-001 {
        margin-left: 4.5em;
    }

 }

 @media only screen and (max-width: 950px) and (min-width: 750px) {
    /* For medium screens--i.e., smaller sized tablets */
    #cover-002 {
      margin-left: -26em;
      margin-top: 60rem;
    }
    #michael-margolis-te {
      margin-left: 7.5em;
    }
    #group-3-section {
      margin-top: 22rem;
    }
    .col-12 {
      margin-right: 1em;
      width: 10em;
    }

  }
