.imprint {
  text-align: left;
  margin-top: -38rem;
  font-size: 1em;
  font-family: Helvetica;
}

.imprint-col-2 {
  margin-top: -25rem;
}

.imprint-nav {
  margin-left: -3em;
}

.bottom-navigation-imprint {
  margin-top: 3rem;
}

.cover-001i {
    height: 75vh;
    width: 48vh;
    margin-top: -2rem;

}
