.imprint {
  text-align: left;
  margin-top: -37rem;
  font-size: 1em;
  font-family: Helvetica;
}

.imprint-col-2 {
  margin-top: -25rem;
}

.imprint-nav {
  margin-left: -3em;
}

.bottom-navigation {
  margin-top: 15rem;
}

.cover-001i {
    height: 75vh;
    width: 48vh;

}
