
#authors {
    position: relative;
    max-width: 100%;
    height: auto;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 18px;
    display: inline-block;
    margin-left: -306px;
    top: -32px;
}

#buy {
    position: relative;
    height: auto;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 18px;
    display: inline-block;
    top: -32px;
    left: 117px;
}

#home {
    position: relative;
    /* width: 3em;
    max-width: 100%; */
    height: auto;
    text-align: left;
    color: #254489;
    font-weight: 700;
    font-family: HelveticaNeue;
    font-size: 18px;
    float: left;
    display: inline-block;
    margin-left: 52px;
    top: -32px;
    /* height: 1.5em; */
}

#description {
    position: relative;
    /* width: 6.5em; */
    /* max-width: 100%; */
    height: auto;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 18px;
    float: left;
    display: inline-block;
    margin-left: 120px;
    top: -32px;
    /* height: 1.5em; */
}

#table-of-contents {
    position: relative;
    /* width: auto; */
    max-width: 100%;
    height: auto;
    /* z-index: 50; */
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 18px;
    display: inline-block;
    margin-left: 191px;
    top: -32px;
    /* height: 1.5em; */
}
.navtop {
  margin-left: -36px;
  margin-top: -32px;
}

@media only screen and (max-width: 750px) {
  /* For smart phone screens */
  /* .navbar {
    font-size: .9em;
    top: 25rem;
  } */

  .navtop {
    margin-top: -80px;
    margin-left: -60px;
    font-size: 30px;
  }

  .navtop-collapse {
    margin-top: -5rem;
  }

  #buy {
    margin-left: -15px;
    /* margin-top: -5rem; */
    font-size: 30px;
  }

  #home {
    margin-top: 32px;
    font-size: 30px;
  }

   #description {
    left: -75px;
    font-size: 30px;
  }

  #table-of-contents {
    left: -165px;
    margin-top: 3.2px;
    font-size: 30px;
  }

  #authors {
    margin-left: -75px;
    /* margin-top: 1rem; */
    font-size: 30px;

  }

  /* .navbar-nav  {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    } */
}

@media only screen and (max-width: 950px) and (min-width: 751px) {
  /* For medium sized screens like small tablets */
      .navbar-item {
        font-size: 22px;
      }


      #buy {
        margin-left: 66px;
      }

      #home {
        left: -99px;
      }

      #table-of-contents {
        left: -16em;
      }

      #description {
        left: -8.5em;
      }

      #authors {
        margin-left: -20em;
        width: auto;
      }


}

@media only screen and (min-width: 951px) and (max-width: 1499px) {
    /* For medium large screens--some larger tablets and smaller laptops */

    #description {
      left: -3em;
    }

    #table-of-contents {
      left: -9em;
    }

    #authors {
      left: 13em;

    }

    #buy {
      margin-left: 12em;

    }

    #home {
      left: -1em;
    }


}
