

#imprint {
    position: relative;
    width: auto;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 18px;
    display: inline-block;
    /* margin-top: -16px; */
    margin-left: 400px;

}

#about {
    position: relative;
    width: auto;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 18px;
    display: inline-block;
    /* margin-top: 8px; */
    top: 6px;
    margin-left: -140px;
    height: auto;

}

#_2018 {
      position: relative;
      width: auto;
      te       xt-align: left;
      color: #254489;
      font-family: HelveticaNeue;
      font-size: 18px;
      float: left;
      display: inline-block;
      margin-left: 40px;
      height: auto;
      /* margin-top: -16px; */
}


#contact {
    position: relative;
    width: auto;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 18px;
    float: left;
    display: inline-block;
    /* margin-top: -16px; */
    margin-left: 170px;
    height: auto;
}

.navbottom {
  margin-top: -60px;
  margin-left: 18px;

}

 @media only screen and (max-width: 950px) and (min-width: 751px) {
      /* medium width screens--smaller tablets, huge phones */

     .navbot {
        top: -960px;
      }

      .navbar-item {
        font-size: 18px;
      }

      #about {
        margin-top: 16px;
        /* left: -1em; */
      }


      #imprint {
        margin-top: 24px;
        left: -300px;
      }

      #_2018 {

        margin-top: 34px;
        left: 30px;
      }

      #contact {
        /* left: 4em; */
        margin-left: 375em;
        margin-top: -64px;
      }

      #authors {
        margin-left: -300px;
        width: auto;
      }
}

@media only screen and (min-width: 951px) and (max-width: 1399px) {
    /* For medium large screens--some larger tablets and smaller laptops */


    .navbottom {
      /* top: -10rem; */ */
      top: 1408px;
      left: 150px;
    }
    .navbar-item {
      font-size: 22px;
    }

    #about {
      margin-top: 16px;
      /* margin-left: 3em; */
      left: -22px;
    }


    #imprint {
      margin-top: 24px;
      left: -220px;
    }

    #_2018 {

      margin-top: 32px;
      left: -11px;
    }

    #contact {
      left: -22px;
      margin-top: 22px;
    }

    #authors {
      margin-left: -300px;
      width: auto;
    }
  }

  @media only screen and (max-width: 575px) {
    /* For smaller smart phone screens */
    .navbar-exp {
      margin-top: -368px;
      margin-left: 6px;
      font-size: 3px;
    }

    /* .navbar-collapse {
      margin-top: 6rem;
    } */

    #about {
      top: -16px;
      left: -.3px;
    }

    #imprint {
      /* margin-top: .1rem; */
      left: -20.7px;
    }

    #_2018 {
      /* margin-top: .1rem; */
      left: -22.5px;
      width: 12px;
    }

    #contact {
      /* margin-top: .1rem; */
      left: -8.7px;
    }

  }

  @media only screen and (min-width: 576px) and (max-width: 749px) {
    /* For medium sized smart phone screens */
    .navbar-exp {
      margin-top: -69rem;
      margin-left: 6px;
      font-size: 3px;
    }
  }
