

#authors {
    position: relative;
    /* width: 5 em; */
    max-width: 100%;
    height: auto;
    /* z-index: 20; */
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 1.2em;
    display: inline-block;
    /* left: 1em; */
    margin-left: -17em;
    top: -2rem;
    height: 1.2em;
}

#buy {
    position: relative;
    width: 1.5em;
    max-width: 100%;
    height: auto;
    /* z-index: 10; */
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 1.2em;
    display: inline-block;
    margin-left: 10em;
    top: -2rem;
    left: 7em;
    height: 1.2em;
}

#home {
    position: relative;
    width: 3em;
    max-width: 100%;
    height: auto;
    /* z-index: 30; */
    text-align: left;
    color: #254489;
    font-weight: 700;
    font-family: HelveticaNeue;
    font-size: 1.2em;
    float: left;
    display: inline-block;
    margin-left: 2.5em;
    top: -2rem;
    height: 1.5em;
}

#description {
    position: relative;
    width: 6.5em;
    max-width: 100%;
    height: auto;
    /* z-index: 40; */
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 1.2em;
    float: left;
    display: inline-block;
    margin-left: 11em;
    top: -2rem;
    height: 1.5em;
}

#table-of-contents {
    position: relative;
    /* width: auto; */
    max-width: 100%;
    height: auto;
    /* z-index: 50; */
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 1.2em;
    display: inline-block;
    margin-left: 11em;
    top: -2rem;
    height: 1.5em;
}
.navtop {
  margin-left: -2em;
  margin-top: -1rem;
}

@media only screen and (max-width: 750px) {
  /* For smart phone screens */
  /* .navbar {
    font-size: .9em;
    top: 25rem;
  } */

  .navtop {
    margin-top: -5rem;
    margin-left: -2em;
    font-size: 2em;
  }

  .navtop-collapse {
    margin-top: -5rem;
  }

  #buy {
    margin-left: -.5em;
    /* margin-top: -5rem; */
    font-size: 2em;
  }

  #home {
    margin-top: 2rem;
    font-size: 2em;
  }

   #description {
    left: -2.5em;
    font-size: 2em;
  }

  #table-of-contents {
    left: -5.5em;
    margin-top: .2rem;
    font-size: 2em;
  }

  #authors {
    margin-left: -2.5em;
    /* margin-top: 1rem; */
    font-size: 2em;

  }

  /* .navbar-nav  {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    } */
}

@media only screen and (max-width: 950px) and (min-width: 751px) {
  /* For medium sized screens like small tablets */
      .navbar-item {
        font-size: 1.5em;
      }


      #buy {
        margin-left: 3em;
      }

      #home {
        left: -4.5em;
      }

      #table-of-contents {
        left: -16em;
      }

      #description {
        left: -8.5em;
      }

      #authors {
        margin-left: -20em;
        width: auto;
      }


}

@media only screen and (min-width: 951px) and (max-width: 1499px) {
    /* For medium large screens--some larger tablets and smaller laptops */

    #description {
      left: -3em;
    }

    #table-of-contents {
      left: -9em;
    }

    #authors {
      left: 13em;

    }

    #buy {
      margin-left: 12em;

    }

    #home {
      left: -1em;
    }


}
