#text {
    font-family: HelveticaNeue;
    font-size: 30px;
    line-height: 1;
    color: #254489;
    text-align: left;
    direction: rtl;
    z-index: 20;
}

#text2 {
    font-family: HelveticaNeue;
    font-size: 30px;
    line-height: 1;
    color: #254489;
    text-align: left;
    direction: rtl;
    z-index: 10;
}

#imprint {
    position: relative;
    /* width: 129px; */
    width: auto;
    z-index: 50;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 30px;
    /* direction: rtl; */
    display: inline-block;
    margin-top: -1rem;
    margin-left: 10em;
    float: left;
    /* left: -75px; */
    height: 36px;
}

#about {
    position: relative;
    /* width: 102px; */
    width: auto;
    /* width: 3.5em; */
    z-index: 40;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 30px;
    float: left;
    display: inline-block;
    margin-top: -1rem;
    margin-left: 2em;
    height: auto;

}

#_2018 {
      position: relative;
      /* width: 102px; */
      width: auto;
      z-index: 20;
      text-align: left;
      color: #254489;
      font-family: HelveticaNeue;
      font-size: 30px;
      float: left;
      display: inline-block;
      /* margin-top: 1 rem; */
      margin-left: 11em;
      /* height: 36px; */
      height: auto;
}


#contact {
    position: relative;
    /* width: 139px; */
    width: auto;
    z-index: 10;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 30px;
    float: left;
    display: inline-block;
    margin-top: -1rem;
    margin-left: 9.5em;
    /* height: 36px; */
    height: auto;
}
