/* #home {
    z-index: 120;
    position: relative;
    display: inline-block;
    text-align: center;
    padding-top: 54em;
} */

/* @media only screen and (max-width: 400px) { */
    /* For small screens: */
    /* nav {
        left: -6em;
    }
 } */

@media only screen and (max-width: 400px) {
  #table-of-contents {
      margin-top: 1rem;
      left: -1em;
      fontsize: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  #authors {
      margin-top: 4rem;
  }
}

/* @media only screen and (max-width: 1400px) and (min-width: 401px) {
    /* For medium screens: */
    /* nav {
        font-size: 1rem;
        class: navbar-left;
    } */
 /* }  */

#authors {
    position: relative;
    width: 5 em;
    max-width: 100%;
    height: auto;
    z-index: 20;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 20px;
    display: inline-block;
    left: 5em;
    top: -2rem;
    height: 1em;
}

#buy {
    position: relative;
    width: 2em;
    max-width: 100%;
    height: auto;
    z-index: 10;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 20px;
    display: inline-block;
    margin-left: 10em;
    top: -2rem;
    left: 3em;
    height: 1em;
}

#home {
    position: relative;
    width: 3em;
    max-width: 100%;
    height: auto;
    z-index: 30;
    text-align: left;
    color: #254489;
    font-weight: 700;
    font-family: HelveticaNeue;
    font-size: 20px;
    float: left;
    display: inline-block;
    margin-left: 2.5em;
    top: -2rem;
    height: 1em;
}

#description {
    position: relative;
    width: 6.5em;
    max-width: 100%;
    height: auto;
    z-index: 40;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 20px;
    float: left;
    display: inline-block;
    margin-left: 5em;
    top: -2rem;
    height: 1em;
}

#table-of-contents {
    position: relative;
    /* width: auto; */
    max-width: 100%;
    height: auto;
    z-index: 50;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 20px;
    display: inline-block;
    margin-left: 16em;
    top: -2rem;
    height: 1em;
}
