

#text {
    font-family: HelveticaNeue;
    font-size: 20px;
    line-height: 1;
    color: #254489;
    text-align: left;
    direction: rtl;
    z-index: 20;
}

#text2 {
    font-family: HelveticaNeue;
    font-size: 20px;
    line-height: 1;
    color: #254489;
    text-align: left;
    direction: rtl;
    z-index: 10;
}

#imprint {
    position: relative;
    /* width: 129px; */
    width: auto;
    z-index: 50;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 20px;
    /* direction: rtl; */
    display: inline-block;
    margin-top: -1rem;
    margin-left: 17em;
    float: left;
    /* left: -75px; */
    height: 36px;
}

#about {
    position: relative;
    /* width: 102px; */
    width: auto;
    /* width: 3.5em; */
    z-index: 40;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 20px;
    float: left;
    display: inline-block;
    margin-top: -1rem;
    margin-left: 2.5em;
    height: auto;

}

#_2018 {
      position: relative;
      /* width: 102px; */
      width: auto;
      z-index: 20;
      text-align: left;
      color: #254489;
      font-family: HelveticaNeue;
      font-size: 20px;
      float: left;
      display: inline-block;
      /* margin-top: 1 rem; */
      margin-left: 18em;
      /* height: 36px; */
      height: auto;
}


#contact {
    position: relative;
    /* width: 139px; */
    width: auto;
    z-index: 10;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 20px;
    float: left;
    display: inline-block;
    margin-top: -1rem;
    margin-left: 9.5em;
    /* height: 36px; */
    height: auto;
}
@media only screen and (max-width: 950px) and (min-width: 750px) {
      .navbottom {
        margin-top: -120rem;
      }
      .navbar-item {
        font-size: 1.5em;
      }

      #about {
        margin-top: 1rem;
      }


      #imprint {
        margin-top: 1.5rem;
        left: -20em;
      }

      #_2018 {

        margin-top: -2.1rem;
      }

      #contact {
        margin-left: 25em;
        margin-top: -4rem;
      }

      #authors {
        margin-left: -20em;
        width: auto;
      }
}

@media only screen and (min-width: 951px) and (max-width: 1499px) {
    /* For medium large screens--some larger tablets and smaller laptops */


    .navbottom {
      margin-top: -80rem;
    }
    .navbar-item {
      font-size: 1.5em;
    }

    #about {
      margin-top: 1rem;
      margin-left: 3em;
    }


    #imprint {
      margin-top: 1.5rem;
      left: -10em;
    }

    #_2018 {

      margin-top: 2rem;
      margin-left: -3em;
    }

    #contact {
      margin-left: 13em;
      margin-top: 1.5rem;
    }

    #authors {
      margin-left: -20em;
      width: auto;
    }
  }

  @media only screen and (max-width: 750px) {
    /* For smart phone screens */
    .navbar-expand-sm {
      margin-top: 1rem;
      margin-left: -2em;
      font-size: .2em;
    }

    .navbar-collapse {
      margin-top: 5rem;
    }

    #about {
      top: -1rem;
    }

    #imprint {
      /* margin-top: .1rem; */
      left: -6.9em;
    }

    #_2018 {
      /* margin-top: .1rem; */
      left: -7.5em;
      width: 4em;
    }

    #contact {
      /* margin-top: .1rem; */
      left: -2.9em;
    }

  }
