#text {
    font-family: HelveticaNeue;
    font-size: 30px;
    line-height: 1;
    color: #254489;
    text-align: left;
    direction: rtl;
    z-index: 20;
}

#text2 {
    font-family: HelveticaNeue;
    font-size: 30px;
    line-height: 1;
    color: #254489;
    text-align: left;
    direction: rtl;
    z-index: 10;
}

#imprint {
    position: relative;
    width: 129px;
    z-index: 50;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 30px;
    direction: rtl;
    display: inline-block;
    margin-top: 89px;
    margin-left: 350px;
    float: left;
    /* left: -75px; */
    height: 36px;
}

#about {
    position: relative;
    width: 102px;
    z-index: 40;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 30px;
    float: left;
    display: inline-block;
    margin-top: 89px;
    margin-left: 90px;
    height: 36px;
}

#_2018 {
      position: relative;
      width: 102px;
      z-index: 20;
      text-align: left;
      color: #254489;
      font-family: HelveticaNeue;
      font-size: 30px;
      float: left;
      display: inline;
      margin-top: 89px;
      margin-left: 450px;
      height: 36px;

}


#contact {
    position: relative;
    width: 139px;
    z-index: 10;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 30px;
    float: left;
    display: inline-block;
    margin-top: 89px;
    margin-left: 300px;
    height: 36px;
}
