#text {
    font-family: HelveticaNeue;
    font-size: 30px;
    line-height: 1;
    color: #254489;
    text-align: left;
    direction: rtl;
    z-index: 20;
}

#text2 {
    font-family: HelveticaNeue;
    font-size: 30px;
    line-height: 1;
    color: #254489;
    text-align: left;
    direction: rtl;
    z-index: 10;
}

#imprint {
    position: relative;
    width: 129px;
    z-index: 50;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 30px;
    direction: rtl;
    display: inline-block;
    margin-top: 89px;
    margin-left: 29px;
    left: -75px;
    height: 36px;
}

#about {
    position: relative;
    width: 102px;
    z-index: 40;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 30px;
    float: left;
    display: inline-block;
    margin-top: 89px;
    margin-left: 148px;
    height: 36px;
}

#contact {
    position: relative;
    width: 139px;
    z-index: 10;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 30px;
    float: right;
    display: inline-block;
    margin-top: 89px;
    margin-right: -539px;
    height: 36px;
}
