/* #home {
    z-index: 120;
    position: relative;
    display: inline-block;
    text-align: center;
    padding-top: 54px;
} */

#authors {
    position: relative;
    width: 143px;
    z-index: 20;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 30px;
    display: inline-block;
    left: 75px;
    height: 36px;
}

#buy {
    position: relative;
    width: 62px;
    z-index: 10;
    text-align: left;
    color: rgb(37, 68, 137);
    font-family: HelveticaNeue;
    font-size: 30px;
    display: inline-block;
    margin-left: 185px;
    left: 92px;
    height: 36px;
}

#home {
    position: relative;
    width: 93px;
    z-index: 30;
    text-align: left;
    color: #254489;
    font-weight: 700;
    font-family: HelveticaNeue;
    font-size: 30px;
    float: left;
    display: inline-block;
    margin-left: 80px;
    height: 36px;
}

#description {
    position: relative;
    width: 198px;
    z-index: 40;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 30px;
    float: left;
    display: inline-block;
    margin-left: 159px;
    height: 36px;
}

#table-of-contents {
    position: relative;
    width: 323px;
    z-index: 50;
    text-align: left;
    color: #254489;
    font-family: HelveticaNeue;
    font-size: 30px;
    display: inline-block;
    left: -98px;
    height: 36px;
}
