#patrick-rothfuss-wr {
    position: relative;
    text-align: left;
    color: black;
    font-weight: 500;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 15px;
    display: inline-block;
    margin-top: -103px;
}


#its-like-everyone-t {
    position: relative;
    text-align: left;
    color: black;
    font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
    font-size: 15px;
    display: inline-block;
    /* margin-top: -60px; */
    top: -100px;
}

#howard-gardner-psyc {
    position: relative;
    text-align: left;
    /* margin-left: em; */
    color: black;
    font-weight: 500;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 15px;
    /* margin-top: -50px; */
    display: inline-block;
    /* top: -56px; */
    /* margin-left: -11px; */
    /* margin-top: -40px; */
    /* marginleft: 10em; */
    left: -38px;
    top: -100px;

}

#if-you-want-to-learn {
    position: relative;
    text-align: left;
    color: black;
    font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
    font-size: 15px;
    top: -16px;
}

#steve-jobs {
    position: relative;
    top: -16px;
    text-align: left;
    color: black;
    font-weight: 500;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 15px;
    display: inline-block;
}


.cover-001 {
    position: relative;
    height: 70vh;
    width: 45vh;
    /* margin-right: auto; */

}

.cover-002 {
    position: relative;
    width: 45vh;
    height: 70vh;
    /* margin-right: auto; */

}

#michael-margolis-te {
    position: relative;
    /* text-align: left; */
    color: black;
    font-weight: 500;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 15px;
    /* left: 57px; */
    /* margin-left: 30px; */
    /* left: -7.5em; */
    display: inline-block;
    /* margin-top: -30px; */
    left: 140px;
    top: -50px;
}

/* #group-4 {
    position: relative;
    display: inline-block;
} */

/* section {
    width: 100%;
} */

#most-powerful-section {
    position: relative;
    /* display: inline-block; */
    text-align: left;
    font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
    font-size: 15px;
    margin-top: -4px;
}

/* #group-3-section {
    position: relative;
    display: inline-block;
    text-align: left;
} */

#stories-constitute-t {
    position: relative;
    text-align: left;
    color: black;
    font-family: "Helvetica-Oblique", Helvetica, Arial, serif;
    font-size: 15px;
    /* display: inline-block; */
    top: -34px;
    /* margin-top: 1px; */


}

/* #its-like-everyone-t-section {
    position: relative;
    display: inline-block;
    text-align: left;
} */

.quotes {
  font-size: 15px;
  margin-top: -12px;
}

.media-body {
  font-size: 15px;
}

.home {
  margin-top: -32px;
}

.bottom-nav {
  margin-left: 50px;
  /* margin-top: 50px; */
}

/* .navbottom {
  top: -16px;
} */

/* @media only screen and (min-width: 1400px) {
    /* For extra large screens, i.e., laptops and desktops: */
    /* #cover-001 {
        margin-left: 1em;
    } */

    /* .quotes {
       top: -120rem;
       left: -300em;
    } */



 @media only screen and (max-width: 950px) and (min-width: 750px) {
    /* For medium screens--i.e., smaller sized tablets */
    #cover-002 {
      margin-left: -676px;
      margin-top: 960px;
    }
    #michael-margolis-te {
      margin-left: 195px;
    }
    #group-3-section {
      margin-top: 352px;
    }
    .col-12 {
      margin-right: 15px;
      /* width: 10em; */
    }

  }

@media only screen and (min-width: 951px) and (max-width: 1399px) {
    /* For medium large screens--some larger tablets and smaller laptops */

  #michael-margolis-te {
    margin-left: -352px;
  }

  #cover-001 {
    left: 15px;
  }

  #cover-002 {
    left: 15px;
  }

  .col-12 {
    margin-top: 14px;
    margin-left: 8px;
    height: auto;
    /* width: 500em; */
  }
}

@media only screen and (max-width: 750px) {
  /* For smart phone screens */
  #cover-001 {
    left: 15px;
    margin-top: -16px;
    /* margin-top: 0rem; */
    /* width: 70%;
    height: 70%; */
  }
  #cover-002 {
    left: -312px;
    margin-top: 720px;
    /* width: 70%;
    height: 70%; */
  }

  .quotes {
    width: 0%;
    height: 0%;
    visibility: hidden;

  }
  #michael-margolis-te {
    width: 0%;
    height: 0%;
    visibility: hidden;
  }
}
