

.home {
  width               : 100%;
  min-width           : 1920px;
  height              : 100vh;
  min-height          : 1080px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.home .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1080px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .patrickrothfusswr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 925px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1260px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 37.0px;
}
.home .itu2019slikeeveryonet {
  background-color    : rgba(255,255,255,0.0);
  top                 : 810px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1260px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Oblique", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 36.0px;
}
.home .howardgardnerpsyc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 695px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1260px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 37.0px;
}
.home .storiesconstitutet {
  background-color    : rgba(255,255,255,0.0);
  top                 : 620px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1260px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Oblique", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.home .ifyouwanttolearn {
  background-color    : rgba(255,255,255,0.0);
  top                 : 380px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1260px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Oblique", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.home .stevejobs {
  background-color    : rgba(255,255,255,0.0);
  top                 : 260px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1260px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 37.0px;
}
.home .image1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 123px;
  height              : 137px;
  width               : 529px;
  position            : absolute;
  margin              : 0;
  left                : 1260px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1014px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1600px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(37, 72, 137, 1.0);
  text-align          : justify;
  line-height         : 36.0px;
}
.home .a2512018 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1015px;
  height              : 35px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 1200px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .a2512018 .a25120181 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(37, 68, 137, 1.0);
  text-align          : justify;
  line-height         : 36.0px;
}
.home .imprint {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1014px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 600px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(37, 68, 137, 1.0);
  text-align          : justify;
  line-height         : 36.0px;
}
.home .about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1014px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 148px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(37, 68, 137, 1.0);
  text-align          : justify;
  line-height         : 36.0px;
}
.home .buy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 54px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1650px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(37, 68, 137, 1.0);
  text-align          : justify;
  line-height         : 36.0px;
}
.home .authors {
  background-color    : rgba(255,255,255,0.0);
  top                 : 54px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1300px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(37, 68, 137, 1.0);
  text-align          : justify;
  line-height         : 36.0px;
}
.home .tableofcontents {
  background-color    : rgba(255,255,255,0.0);
  top                 : 54px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 800px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(37, 68, 137, 1.0);
  text-align          : justify;
  line-height         : 36.0px;
}
.home .home1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 54px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 148px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(37, 68, 137, 1.0);
  text-align          : justify;
  line-height         : 37.0px;
}
.home .description {
  background-color    : rgba(255,255,255,0.0);
  top                 : 54px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 400px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(37, 68, 137, 1.0);
  text-align          : justify;
  line-height         : 36.0px;
}
.home .cover001 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 123px;
  height              : 835px;
  width               : 545px;
  position            : absolute;
  margin              : 0;
  left                : 148px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .cover002 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 123px;
  height              : 835px;
  width               : 545px;
  position            : absolute;
  margin              : 0;
  left                : 688px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .michaelmargoliste {
  background-color    : rgba(255,255,255,0.0);
  top                 : 490px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1260px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 37.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
