.toc {
  text-align: left;
  margin-top: -35rem;
  font-size: .9em;
  font-family: Arial,cursive;
}

.Toc-col-2 {
  margin-top: -25rem;
}

.desc {
  margin-top: -2rem;
}

.top-nav {
  margin-left: -3em;
}

.bottom-nav {
  margin-top: 12rem;
}
